.searchbar {
    margin: 0 auto;
    width: max-content;
    height: 2.5em;

    &__input {
        padding: 0.5em 0.9em;
        border-radius: 0.5em 0 0 0.5em;
        background-color: rgba($color: #fff, $alpha: 0.8);
        max-width: 40ch;
        height: 100%;
    }

    &__button {
        height: 100%;
        width: 3em;
        color: $black;
        border-radius: 0 0.5em 0.5em 0;
        background-color: rgba($color: #fff, $alpha: 0.8);
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: $blue;
            color: white;
        }
    }
}
