.about-section {
    padding: calc($section-x-padding/2) 0;

    &__row {
        align-items: center;
    }

    &__text-container {
    }

    &__title {
    }

    &__image-container {
        img{
            width: 100%;
        }
    }
}

